h1{
    border: solid black;
    text-align: center;
    
}

body{
    background-color: rgb(60, 60, 60);
    color: white;
    text-align: center;
}
 

input{
    background-color:  rgb(60,60,60);
    border: soid white;
    color: white;
    
}
::placeholder{
    color: white;
}
button{
    background-color: white;
    border: solid black;
}